// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/* buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  padding: 10px 15px;
  font-size: $font-size-base;
  line-height: 1.5;
  text-align: center;
  border: none;
  text-transform: uppercase;
  border-radius: 0px;
  color: $white;
  background-color: $brand-primary;
  &:hover,
  &:focus {
    background-color: $brand-secondary;
    color: $white;
    outline: none;
    cursor: pointer;
  }
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    font-size:$font-size-base;
    line-height: 1.5;
    text-align: center;
    border: none;
    text-transform: uppercase;
    border-radius: 0px;
    color: $white;
    background-color: $brand-primary;
    &:hover,
    &:focus {
        color: $white;
        background-color: $brand-secondary;
        text-decoration: none
    }
}

.btn-link {
    color: $brand-primary;
    font-size: $font-size-base;
    border-bottom: 1px solid $brand-primary;
    margin-bottom: 2px;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $brand-secondary;
        text-decoration: none;
    }
}

