// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular ( Open Sans ) font family
$font-family-base:  'Open Sans', 'Arial', sans-serif !default;

/// Code (Courier) font family
$font-family-code:  'Courier New','Arial', sans-serif !default;

/// body contect text size
$font-size-base:    16px !default;
$font-size-small:   $font-size-base - 2 !default;
$font-size-large:   $font-size-base + 2 !default;

// Colors
$brand-primary :   #0eb769 !default;
$brand-secondary : #319e6b !default;

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$gray:   #464a4c !default;

// Body
//
// Settings for the `<body>` element.
$body-bg:       $white !default;
$body-color:    $black !default;

// text color
$text-color:   $black !default ;

// Heading font family
$font-size-h1:  52px !default;
$font-size-h2:  42px !default;
$font-size-h3:  36px !default;
$font-size-h4:  24px !default;
$font-size-h5:  20px !default;
$font-size-h6:  18px !default;

$headings-margin-bottom: 15px !default;
$headings-font-family:   inherit !default;
$headings-font-weight:   700 !default;
$headings-line-height:   1.1 !default;
$headings-color:         $text-color !default;

// Forms
$label-color:           $text-color;
$label-font-weight:     400;
$label-font-family:     $font-family-base;
$label-font-size:       $font-size-small;

$input-bg:                  $white;
$input-font-family:         $font-family-base;
$input-font-size:           $font-size-base;
$input-font-weight:         400;
$input-color:               $brand-primary;
$input-color-placeholder:   $brand-secondary;
$input-height-base:         50px;
$input-height-large:        65px;
$input-height-small:        50px;
$input-radius:              0;
$input-border-color:        $brand-secondary;
$input-border-color-focus:  $brand-secondary;
$textarea-height-base:      150px;

/// Container's maximum width
$container-width:   1200px !default;

// media breakpoint
$xs : 640px; // Extra small devices (portrait phones, less than 640px)
$sm : 767px; // Small devices (landscape phones, less than 767px)
$md : $sm + 1; // Medium devices (tablets, 768px and up)
$lg : 1024px; // Large devices (desktops, 1024px and up)
$xl : 1200px; // Extra large devices (large desktops, 1200px and up)

