// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


// Small devices (landscape phones, 576px and up)
@include breakpoint(sm) {
   // your code here
}

// Extra small devices (portrait phones, less than 576px)
@include breakpoint(xs) {
   // your code here
}

// iPhone X landscape
@include breakpoint(smlandscape) {
   // your code here
}

// Medium devices (tablets, 768px and up)
@include breakpoint(md) {
   // your code here
}

// Large devices (desktops, 992px and up)
@include breakpoint(lg) {
   // your code here
}

// Extra large devices (large desktops, 1200px and up)
@include breakpoint(xl) {
   // your code here
}